<!-- Cửa sổ popup xác nhận xóa bình luận -->
<div style="display: none" class="delete_confirm__block">
     <div class="delete_confirm__popup">
          <div class="delete_confirm__content">
               Bạn có chắc muốn xóa không
          </div>
          <div class="delete_confirm__select">
               <button>Hủy</button>
               <button>Xóa</button>
          </div>
     </div>
</div>