.sign_window {
     position: absolute;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
     background-color: rgba(49, 48, 48, 0.4);
}

.sign_window__popup {
     width: 500px;
     position: fixed;
     background-color: var(--ice-screem-color);
     border-radius: 10px;
     overflow: hidden;
     top: 16vh;
     left: 50%;
     transform: translate(-50%, 0);
}

.sign_window__tag-block {
     display: flex;
     padding: 0 26px;
     justify-content: space-between;
     align-items: center;
}

.sign_window__tag {
     padding: 16px 14px;
     font-size: var(--font-size-20);
     font-weight: var(--font-weight-bold);
     opacity: 0.6;
}

.sign_window__tag-block div:nth-child(2) button {
     font-size: var(--font-size-20);
     font-weight: var(--font-weight-bold);
     padding: 0 6px;
}

.sign_window__tag-block div:nth-child(2) button:hover {
     cursor: pointer;
}

.sign_window__tag:hover {
     cursor: pointer;
}

.sign_window__block-signin, .sign_window__block-signup {
     display: flex;
     flex-direction: column;
     row-gap: 10px;
     padding: 0 26px;
     margin-bottom: 20px;
}

.sign_window__sign-form {
     margin: 20px 0;
}

.sign_window__block {
     display: flex;
     flex-direction: column;
     row-gap: 10px;
}

.sign_window__block label {
     font-size: var(--font-size-18);
}

.sign_window__block input {
     border: 1px solid rgba(0, 0, 0, 0.5);
     outline: 0;
     padding: 10px;
     font-size: var(--font-size-16);
}

.sign_window__block input:focus {
     border: 1px solid var(--green-color);
}
.sign_window__email-block {
     margin-bottom: 20px;
}

.sign_window__support {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     column-gap: 20px;
}

.sign_window__support button:hover {
     cursor: pointer;
}

.sign_window__support button:nth-child(1):hover {
     text-decoration: underline;
}

.sign_window__support button:nth-child(2){
     padding: 10px 12px;
     background-color: var(--green-color);
     border-radius: 8px;
     color: var(--white-color);
}

.sign_window__select {
     text-align: center;
     margin: 6px 0;
}

.sign_window__social {
     display: flex;
     align-items: center;
     column-gap: 10px;
}

.sign_window__social a {
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     column-gap: 6px;
     text-align: center;
     padding: 10px 14px;
     border-radius: 20px;
     font-size: var(--font-size-18);
     color: var(--white-color);
}

.sign_window__social a:nth-child(1) {
     background-color: orange;
}

.sign_window__social a:nth-child(2) {
     background-color: blue;
}

/* Đăng ký */
.sign_window__block-signup .sign_window__password-block {
     margin-bottom: 20px;
}

.sign_window__block-signup .sign_window__alert, 
.sign_window__block-signin .sign_window__alert {
     display: flex;
     flex-direction: column;
     row-gap: 10px;
}

.sign_window__block-signup .sign_window__alert div:nth-child(1), 
.sign_window__block-signup .sign_window__alert div:nth-child(2),
.sign_window__block-signup .sign_window__alert div:nth-child(4),
.sign_window__block-signin .sign_window__alert div:nth-child(1), 
.sign_window__block-signin .sign_window__alert div:nth-child(2),
.sign_window__block-signin .sign_window__alert div:nth-child(4) {
     color: var(--red-color);
}

.sign_window__block-signup .sign_window__alert div:nth-child(3),
.sign_window__block-signin .sign_window__alert div:nth-child(3) {
     color: var(--green-color);
}

/* Dropdown after login */
.header_ext__userInfo {
     display: flex;
     align-items: center;
     column-gap: 10px;
     position: relative;
}

.header_ext__userInfo-img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     overflow: hidden;
     border: 3px solid rgb(37, 122, 192);
}

.header_ext__userInfo-img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.header_ext__userInfo-name {
     font-size: var(--font-size-16);
     font-weight: var(--font-weight-bold);
     color: var(--opacity-white-color);
     max-width: 160px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
}

.header_ext__userInfo-arrrow {
     font-size: var(--font-size-16);
     font-weight: var(--font-weight-bold);
     color: var(--opacity-white-color);
}

.header_ext__userInfo-dropdown {
     position: absolute;
     top: 100%;
     right: 0;
     transform: translateX(50%);
     min-width: 100px;
     background-color: var(--ice-screem-color);
     border-radius: 8px;
     overflow: hidden;
     box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
     z-index: 10;
}

.header_ext__userInfo-dropdown-item {
     padding: 10px 14px;
}

.header_ext__userInfo-dropdown-item:hover {
     cursor: pointer;
     background-color: var(--green-color);
}


/* Quên mật khẩu */
.forgetpassword_block {
     position: absolute;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
     background-color: rgba(49, 48, 48, 0.4);
     z-index: 100;
}

.forgetpassword_popup {
     width: 500px;
     position: fixed;
     background-color: var(--ice-screem-color);
     border-radius: 10px;
     overflow: hidden;
     top: 16vh;
     left: 50%;
     transform: translate(-50%, 0);
     display: flex;
     flex-direction: column;
     padding: 20px 30px;
}

.forgetpassword_popup-exit {
     font-size: var(--font-size-20);
     font-weight: var(--font-weight-bold);
     padding: 10 14px;
     align-self: flex-end;
     margin-bottom: 20px;
}

.forgetpassword_popup-exit:hover {
     cursor: pointer;
}

.forgetpassword_popup-body {
     display: flex;
     flex-direction: column;
     row-gap: 30px;
     justify-content: stretch;
     margin-bottom: 30px;
}

.forgetpassword_popup-body label {
     font-size: var(--font-size-18);
     font-weight: var(--font-weight-bold);
}

.forgetpassword_popup-body input {
     border: 1px solid rgba(0, 0, 0, 0.5);
     outline: 0;
     padding: 10px;
     font-size: var(--font-size-16);
}

.forgetpassword_popup-body input:focus {
     border: 1px solid var(--green-color);
}

.forgetpassword_popup-alert {
     display: flex;
     flex-direction: column;
     row-gap: 10px;
}

.forgetpassword_popup-alert div:nth-child(1),
.forgetpassword_popup-alert div:nth-child(2),
.forgetpassword_popup-alert div:nth-child(4) {
     color: var(--red-color);
}

.forgetpassword_popup-alert div:nth-child(3) {
     color: var(--green-color);
}

.forgetpassword_popup-submit-btn {
     display: flex;
     justify-content: flex-end;
}

.forgetpassword_popup-submit-btn button {
     padding: 10px 12px;
     background-color: var(--green-color);
     border-radius: 8px;
     color: var(--white-color);
}


/* Responsive */
/* Mobile nhỏ */
@media (max-width: 400px) { 
     .header_ext__userInfo-name {
          display: none;
     }
     .header_ext__userInfo-arrrow {
          display: none;
     }
     .header_ext__userInfo-dropdown {
          top: 100%;
          right: 25px;
          transform: translateX(50%);
     }
     /* SignIn / Signup window */
     .sign_window__popup {
          width: 90vw;
          top: 10vh;
     }
     .sign_window__tag {
          padding: 12px 10px;
          font-size: var(--font-size-18);
     }
     .sign_window__block label {
          font-size: var(--font-size-16);
     }
     .sign_window__social a {
          padding: 8px 12px;
          font-size: var(--font-size-14);
     }
     /* ForgetPassword popup */
     .forgetpassword_popup {
          width: 90vw;
          top: 10vh;
     }
 }
 
 /* Mobile lớn */
 @media (min-width: 401px) and (max-width: 767.98px) { 
     .header_ext__userInfo-dropdown {
          top: 100%;
          right: 25px;
          transform: translateX(50%);
     }
     /* SignIn / Signup window */
     .sign_window__popup {
          width: 80vw;
          top: 10vh;
     }
     /* ForgetPassword popup */
     .forgetpassword_popup {
          width: 80vw;
          top: 10vh;
     }
 }
 
 /* Máy tính bảng (Tablet) */
 @media (min-width: 768px) and (max-width: 991.98px) { 
    
 }



